body {
  margin: 0;
  font-family: "Lucida Grande";
}

header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 1;
}


.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-logo{
  padding: 25px 0;
  width: 128px;
}
.header-left{
  float: left;
}
.header-right{
  float: right;
 
  
}
.header-right a:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  text-decoration: none;
}
.header-right a {
  text-decoration: none;
  padding: 0 25px;
  color: white;
  display: inline-block;
  line-height: 65px;

}

.top-wrapper{
  padding-top: 180px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url(../images/top_en.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-wrapper h1{
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  letter-spacing: 7px;
  opacity: 0.8;
}
.top-wrapper p{
  color: #fff;
  font-family: serif;
  font-size: 17px;
  opacity: 0.8;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.button{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}  
.email{
  background-color: #239b76;
  margin-bottom: 5px;
}
.twitter{
  background-color: #55acee;
}
.fa-brands{
  margin-right: 5px;
}
.button:hover{
  text-decoration: none;
  color: white;
  opacity: 1;
}
.lesson-wrapper{
  background-color: #f7f7f7;
  height: 500px;
  text-align: center;
  padding-bottom: 180px;
  
}
.lesson-heading{
  font-family: serif;
  font-wight: normal;
  padding: 60px 0 30px 0;
  color:  #5f5d60;
  font-size: 23px;
}
.lesson{
  float: left;
  width: 25%;
}
.lessons-icon{
  position: relative;
}
.lessons-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}
.txt-content{
  font-size: 15px;
  width: 80%;
  display: inline-block;
  padding-top: 20px;
  color: #b3aeb5;
}
.message-wrapper{
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}
.message-heading{
  font-family: serif;
  
  
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.message-heading h2{
  font-size: 26px;
}
.message-heading h3{
  font-size: 22px;
}
.messbtn{
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
}
.messbtn:hover{
  text-decoration: none;
  opacity: 1;
  color: white;
}
.messbtn:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}  
footer{
  padding-top: 30px;
} 
.footer-logo{
  
  width: 125px;
}
footer p{
  color: #b3aeb5;
  font-size: 12px;
}
